body {
  position: relative;
width: 1920px;
height: 1080px;
overflow: hidden;
background: #FFFFFF;
}
.contenaire {
  position: absolute;
width: 1920px;
height: 1080px;
background: #FFFFFF;
}
header {
  position: absolute;
width: 1920px;
height: 130px;
left: 0px;
top: 0px;

background: #fff48f;
}
.photo2{
position: absolute;
width: 1920px;
height: 695px;
left: 0px;
top: 124px;

background: url(fabian-grohs-U0tBTn8UR8I-unsplash.jpg);
border-radius: 84px;
}
.photo{
  position: absolute;
width: 337px;
height: 423px;
left: 38px;
top: 212px;
z-index: 999;

background: url(2020-07-17_Sirius_photosLinkedin_12.jpg);
border-radius: 398.5px;
}
@keyframes move-right {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(1400px);
  }
}
.photo {
  animation-name: move-right;
  animation-duration: 20s;
}
footer {
  position: absolute;
width: 1920px;
height: 89px;
left: 0px;
top: 820px;

background:#394989 ;
}
.mail {
  position: absolute;
  width: 295px;
  height: 42px;
  left: 1362px;
  top: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color:#1b1c25;

}
a.mail:hover {
  color: #f37121;
  text-transform: uppercase;
}
.Logo2 {
  position: absolute;
  width: 35px;
  height: 25px;
  left: 1450px;
  top: 25px;
}
.linkedin {
  position: absolute;
  width: 395px;
  height: 42px;
  left: 900px;
  top: 13px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #1b1c25;

}
a.linkedin:hover {
  color: #f37121;
  text-transform: uppercase;
}
.Logo1 {
  position: absolute;
  width: 35px;
  height: 25px;
  left: 950px;
  top: 25px;
}
.texto {
position: absolute;
width: 800px;
height: 206px;
left: 701px;
top: 234px;

font-family: "Sofia";
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 75px;
letter-spacing: 0.05em;

color:white;
z-index: 999;

mix-blend-mode: normal;
}
.texto:hover {
  transform: scaleX(-1.3);
  color: #f37121;
}
.texto {
  transition:color 5s, transform 10s;
}
.texte1 {
  position: absolute;
width: 132px;
height: 42px;
left: 690px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.05em;

color:#1b1c25;
z-index: 999;

mix-blend-mode: normal;
}
a.texte1:hover {
  color: #f37121;
  text-transform: uppercase;
}
.texte2 {
  position: absolute;
width: 196px;
height: 42px;
left: 1176px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.05em;

color:#1b1c25;
}
a.texte2:hover {
  color: #f37121;
  text-transform: uppercase;
}
.texte3 {
  position: absolute;
width: 254px;
height: 42px;
left: 922px;
top: 32px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.05em;

color:#1b1c25;

}
a.texte3:hover {
  color: #f37121;
  text-transform: uppercase;
}
.texte4 {
  position: absolute;
width: 138px;
height: 42px;
left: 1472px;
top: 34px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.05em;

color:#1b1c25;

}
a.texte4:hover {
  color: #f37121;
  text-transform: uppercase;
}
.photo3 {
  position: absolute;
left: 40px;
top: 5px;
}
.photo3:hover {
  transform: rotate(360deg);
  }
  .photo3 {
    transition: color 10s,transform 10s
  }
  .font1 {
    position: absolute;
    width: 1920px;
    height: 848px;

    background: linear-gradient(180deg, #7582FB 0%, rgba(178, 185, 254, 0) 100%);
    top: 136px;
    border-radius: 100px;
  }
  .font2 {
    position: absolute;
  width: 1920px;
  height: 439px;
  top: 400px;
  border-radius: 60%;

  background: linear-gradient(180deg, #4A33D6 0%, rgba(196, 196, 196, 0) 100%);
  }
  .texto1 {
    position: absolute;
    width: 479px;
    height: 294px;
    top:120px ;
    left: 300px;
    z-index: 999;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;

  color:#1b1c25;

  }
  .texto2 {
    position: absolute;
    width: 483px;
    height: 168px;
    top: 120px;
    left: 1250px;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.05em;

  color:#1b1c25;

  }
  .texto3 {
    position: absolute;
  width: 371px;
  height: 126px;
  top: 500px;
  left:300px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;

  color:#1b1c25;

  }
  .texto4 {
    position: absolute;
  width: 554px;
  height: 168px;
  top: 400px;
  left: 1250px;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  color:#1b1c25;

  }
  .screen1 {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 200px;
    left: 80px;
  }
  .screen2 {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 200px;
    left: 450px;
  }
  .screen3 {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 200px;
    left: 820px;
  }
  .screen4 {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 200px;
    left: 1190px;
  }
.screen5 {
  position: absolute;
    width: 300px;
    height: 250px;
    top: 200px;
    left: 1560px;
}
.explicationScreen {
  position: absolute;
    width: 900px;
    height: 650px;
    top: 470px;
    left: 560px;
    font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;

  color:#1b1c25;
}
#auteur {
  position: absolute;
  width: 689px;
  height: 49px;
  left: 1047px;
  top: 258px;
  border-radius: 15px;
  color:black;
  z-index: 999;

  background: beige;
 }
  #submit-btn{
   display: flex;
   justify-content: center;
   align-items: center;
  position: absolute;
  width: 684px;
  height: 52px;
  left: 1052px;
  top: 693px;
  border-radius: 15px;
  color: black;
  z-index: 999;

background: #fff48f;
 }
 #comment {
  position: absolute;
  width: 684px;
  height: 200px;
  left: 1052px;
  top: 449px;
  color:black;

  background: beige;
  border-radius: 17px;
  z-index: 999;
 }
 #email {
  position: absolute;
  width: 689px;
  height: 49px;
  left: 1047px;
  top: 358px;
  border-radius: 15px;
  color:black;
  z-index: 999;

  background: beige;
 }

 .groupComment {
  position: absolute;
  width: 738px;
  height: 545px;
  left: 1025px;
  top: 228px;

  background-color:#4ea0ae;
  border-radius: 16px;
 }
 .contact {
  position: absolute;
  width: 632px;
  height: 142px;
  left: 190px;
  top: 334px;
  mix-blend-mode: normal;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  z-index: 999;

  color:#1b1c25;
 }