
body {
  position: relative;
width: 100vw;
border: 0px;
height: 100vh;
overflow: hidden;
background: #FFFFFF;
}
.contenaire {
  position: absolute;
width: 100vw;
height: 100vh;
background: #FFFFFF;
}
header {
  position: absolute;
width: 100vw;
height: 14vh;
left: 0vw;
top: 0vh;

background: #fff48f;
}
.photo2{
position: absolute;
width: 100vw;
height: 75vh;
left: 0vw;
top: 14.5vh;

background: url(fabian-grohs-U0tBTn8UR8I-unsplash.jpg);
border-radius: 84px;
}
.photo{
  position: absolute;
width: 17.5vw;
height: 39.21vh;
left: 1.97vw;
top: 19.64vh;
z-index: 999;

background: url(2020-07-17_Sirius_photosLinkedin_12.jpg);
border-radius: 398.5px;
}
footer {
  position: absolute;
width: 100vw;
height: 8.24vh;
left: 0vw;
top: 90vh;

background:#394989 ;
}

.lin {
  position: absolute;
  width: 2.55vw;
  height: 3.88vh;
  left: 42.48vw;
  top: 1.203vh;
  background-color: #fff48f;
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.87vw;
  line-height: 3.88vh;

  color: #1b1c25;

}
a.linkedin:hover {
  color: #f37121;
  text-transform: uppercase;
}
.phone{
  position: absolute;
  width: 39.06vw;
  height: 3.88vh;
  left: 49.48vw;
  top: 1.203vh;
  background-color: #fff48f;
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.87vw;
  line-height: 3.88vh;

  color: #1b1c25;
}
h1{
  position: absolute;
width: 15.62vw;
height: 7.96vh;
left: 20.92vw;
top: 20.40vh;
z-index: 999;
color: white;
font-size: 2.5vw;
  line-height: 6.94vh;
letter-spacing: 0.05em;

font-family: "Sofia"
}
p {
position: absolute;
width: 41.66vw;
height: 19.08vh;
left: 20.92vw;
top: 30.95vh;

font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 1.87vw;
  line-height: 3.88vh;
letter-spacing: 0.05em;

color:white;
z-index: 999;

mix-blend-mode: normal;
}
p:hover {
  transform: scaleX(-1.3);
  color: #f37121;
}
p {
  transition:color 5s, transform 10s;
}
.contact1 {
  position: absolute;
  width: 17.21vw;
  height: 7.96vh;
  left: 20.92vw;
  top: 52.35vh;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 6.94vh;
  letter-spacing: 0.05em;
  background-color:#394989 ;

  color: white;
  z-index: 999;
  border-radius: 17px;

  mix-blend-mode: normal;
}
.texte1 {
  position: absolute;
width: 6.87vw;
height: 3.88;
left: 36.36vw;
top: 2.96vh;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.87vw;
  line-height: 3.88vh;
letter-spacing: 0.05em;

color:#1b1c25;
z-index: 999;

mix-blend-mode: normal;
}
a.texte1:hover {
  color: #f37121;
  text-transform: uppercase;
}
a.texte1:active {
  color: #00FF00;}
.texte2 {
  position: absolute;
width: 10.21vw;
height: 3.88vh;
left: 61.34vw;
top: 2.96vh;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.87vw;
  line-height: 3.88vh;
letter-spacing: 0.05em;

color:#1b1c25;
}
a.texte2:hover {
  color: #f37121;
  text-transform: uppercase;
}
a.texte2:active{
  color: #00FF00;}
.texte3 {
  position: absolute;
width: 13.24vw;
height: 3.88vh;
left: 48.07vw;
top: 2.96vh;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.87vw;
  line-height: 3.88vh;
letter-spacing: 0.05em;

color:#1b1c25;

}
a.texte3:hover {
  color: #f37121;
  text-transform: uppercase;
}
a.texte3:active{
  color: #00FF00;}
.texte4 {
  position: absolute;
width: 7.18vw;
height: 3.88vh;
left: 76.92vw;
top: 2.96vh;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 1.87vw;
  line-height: 3.88vh;
letter-spacing: 0.05em;

color:#1b1c25;

}
a.texte4:hover {
  color: #f37121;
  text-transform: uppercase;
}
a.texte4:active{
  color: #00FF00;}
.photo3 {
  position: absolute;
left: 5vw;
top: 2vh;
width: 5.20vw;
height: 9.25vh;
}
.photo3:hover {
  transform: rotate(360deg);
  }
  .photo3 {
    transition: color 10s,transform 10s
  }
  .ht {
    position: absolute;
    left: 4.68vw;
    top: 5.09vh;
  }
  .font1 {
    position: absolute;
    width: 100vw;
    height: 78.74vh;
    left: 0vw;

    background: linear-gradient(180deg, #7582FB 0%, rgba(178, 185, 254, 0) 100%);
    top: 14vh;
    border-radius: 100px;
  }
  .font2 {
    position: absolute;
  width: 100vw;
  height: 40.65vh;
  top: 53vh;
  border-radius: 60%;
  left: 0vw;

  background: linear-gradient(180deg, #4A33D6 0%, rgba(196, 196, 196, 0) 100%);
  }
  .texto1 {
    position: absolute;
    width: 25vw;
    height: 27.24vh;
    top: 20vh;
    left: 15.62vw;
    z-index: 999;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 1.87vw;
  line-height: 3.88vh;
    letter-spacing: 0.05em;

  color:white

  }
  .texto2 {
    position: absolute;
    width: 25.18vw;
    height: 15.57vh;
    top: 20vh;
    left: 65.35vw;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 1.87vw;
  line-height: 3.88vh;
    letter-spacing: 0.05em;

  color:white

  }
  .texto3 {
    position: absolute;
  width: 19.34vw;
  height: 11.66vh;
  top: 57vh;
  left:15.62vw;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 1.87vw;
  line-height: 3.88vh;
  letter-spacing: 0.05em;

  color: white;

  }
  .texto4 {
    position: absolute;
  width: 28.90vw;
  height: 15.57vh;
  top: 47vh;
  left: 65.35vw;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 1.87vw;
  line-height: 3.88vh;
  letter-spacing: 0.05em;
  color:white

  }
  .screen1 {
    position: absolute;
    width: 15.62vw;
    height: 23.14vh;
    top: 18.51vh;
    left: 4.16vw;
  }
  .screen2 {
    position: absolute;
    width: 15.62vw;
    height: 23.14vh;
    top: 18.51vh;
    left: 23.47vw;
  }
  .screen3 {
    position: absolute;
    width: 15.62vw;
    height: 23.14vh;
    top: 18.51vh;
    left: 42.73vw;
  }
  .screen4 {
    position: absolute;
    width: 15.62vw;
    height: 23.14vh;
    top: 18.51vh;
    left: 62.11vw;
  }
.screen5 {
  position: absolute;
    width: 15.62vw;
    height: 23.14vh;
    top: 18.51vh;
    left: 81.30vw;
}
.explicationScreen {
  position: absolute;
    width: 46.94vw;
    height: 60.24vh;
    top: 43.66vh;
    left: 29.23vw;
    font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 1.87vw;
  line-height: 3.88vh;
  letter-spacing: 0.05em;

  color:white
}
#auteur {
  position: absolute;
  width: 35.97vw;
  height: 4.53vh;
  left: 54.64vw;
  top: 23.92vh;
  border-radius: 15px;
  color:black;
  z-index: 999;

  background: beige;
 }
  #submit-btn{
   display: flex;
   justify-content: center;
   align-items: center;
  position: absolute;
  width: 35.71vw;
  height: 4.84vh;
  left: 54.94vw;
  top: 64.51vh;
  border-radius: 15px;
  color: black;
  z-index: 999;

background: #fff48f;
 }
 #comment {
  position: absolute;
  width: 35.71vw;
  height: 18.51vh;
  left: 54.96vw;
  top: 41.66vh;
  color:black;

  background: beige;
  border-radius: 17px;
  z-index: 999;
 }
 #email {
  position: absolute;
  width: 35.97vw;
  height: 4.53vh;
  left: 54.64vw;
  top: 33.15vh;
  border-radius: 15px;
  color:black;
  z-index: 999;

  background: beige;
 }

 .groupComment {
  position: absolute;
  width: 38.46vw;
  height: 50.50vh;
  left: 53.47vw;
  top: 21.14vh;

  background-color:#4ea0ae;
  border-radius: 16px;
 }
h3{
    position: absolute;
    width: 29.67vw;
    height: 13.15vh;
    left: 9.90vw;
    top: 30.95vh;
    mix-blend-mode: normal;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 1.87vw;
  line-height: 3.88vh;
    letter-spacing: 0.05em;
    z-index: 999;

    color:white;
   }
   @media only screen and (max-width: 600px) {
    .lin {
      width: 4vw;
      font-size: medium;
      left: 20vw;
    }
    .phone {
      font-size: x-small;
      width: 65vw;
      left:30vw ;
    }
    .contact1 {
      display: flex;
      justify-content: center;
      width: 22vw;
      font-size: medium;
    }
    p {
      font-size: large;
    }
    h1 {
      width: 20vw;
      font-size: large;
    }
    .photo3{
      width: 15vw;
      height: 10vh;
    }
    .contact1{
      width: 35vw;
    }
    .photo {
      height: 20vh;
      top: 25vh;
    }
    .texte1 {
      font-size: medium;
      left: 20vw;
    }
    .texte2 {
      font-size: medium;
      left: 37vw;
    }
    .texte3 {
      font-size: medium;
      left: 57vw;
      width: 20vw;
    }
    .texte4 {
      font-size: medium;
      left: 77vw;
    }
    .texto1 {
      width: 30vw;
      top: 12vh;
      font-size: small;
      left: 9vw;
    }
    .texto2 {
      width: 40vw;
      top: 12vh;
      left: 55vw;
      font-size: small;
    }
    .texto3 {
      width: 30vw;
      top: 67vh;
      font-size: small;
      left: 9vw;
    }
    .texto4 {
      width: 40vw;
      left: 55vw;
      top: 50vh;
      font-size: small;
    }
    .font1 {
      border-radius: 30px;
      background-color:#7582FB  ;
    }
    .font2 {
      background-color: #4A33D6  ;
    }
    .explicationScreen {
      left: 10vw;
      width: 80vw;
      font-size: medium;
    }
    h3 {
      font-size: medium;
      left: 8vw;
    }

  }
